<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>exemple formation</display-name>
  <description>
       exemple formation servlet et jsp
    </description>
  <filter>
    <filter-name>verifieClient</filter-name>
    <filter-class>mesCommandes.FiltreEntree</filter-class>
  </filter>
  <filter>
    <filter-name>effaceCommende</filter-name>
    <filter-class>mesCommandes.FiltreSortie</filter-class>
  </filter>
  
  <servlet>
    <servlet-name>entree</servlet-name>
    <servlet-class>mesCommandes.EntreeMagasinDisque</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>acheter</servlet-name>
    <servlet-class>mesCommandes.AfficherLesDisques</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>commander</servlet-name>
    <servlet-class>mesCommandes.CommanderUnDisque</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>enregister</servlet-name>
    <servlet-class>mesCommandes.EnregistrerCommande</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>facture</servlet-name>
    <servlet-class>mesCommandes.Facturation</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>entree</servlet-name>
    <url-pattern>/servlet/entree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>acheter</servlet-name>
    <url-pattern>/servlet/achat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commander</servlet-name>
    <url-pattern>/servlet/commande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>enregister</servlet-name>
    <url-pattern>/servlet/enregistre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>facture</servlet-name>
    <url-pattern>/servlet/facturer</url-pattern>
  </servlet-mapping>
  
  
  
  
  <filter-mapping>
    <filter-name>verifieClient</filter-name>
    <url-pattern>/servlet/enregistre</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>verifieClient</filter-name>
    <url-pattern>/servlet/commande</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>verifieClient</filter-name>
    <url-pattern>/servlet/achat</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>effaceCommende</filter-name>
    <url-pattern>/servlet/enregistre</url-pattern>
  </filter-mapping>
</web-app>